@page "/"

<h1>Библиотека</h1>
<link href="css/site.css" rel="stylesheet" />
<div class="container">
    <div class="sidebar">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/books">Список книг</a></li>
            <li><a href="/add-book">Добавить книгу</a></li>
            <li><a href="/search">Поиск</a></li>
        </ul>
    </div>

    <div class="content">
        <h2>Добро пожаловать в  библиотекой!</h2>
        <p></p>

        <div class="book-cards">
            <!-- Пример карточки книги -->
            <div class="book-card">
                <img src="https://www.belykrolik.ru/media/catalog/product_images/14201311_1_vojna_i_mir_kniga_2.jpg" alt="Название книги" class="book-image" />
                <h3 class="book-title">Название книги</h3>
                <p class="book-author">Автор книги</p>
            </div>

            <!-- Добавьте больше карточек, если нужно -->
            <div class="book-card">
                <img src="https://avatars.mds.yandex.net/i?id=3211d45bb189060259a182d51636b1e8_l-4824750-images-thumbs&n=13" alt="Название книги" class="book-image" />
                <h3 class="book-title">Название книги</h3>
                <p class="book-author">Автор книги</p>
            </div>

            <div class="book-card">
                <img src="https://static10.labirint.ru/books/609616/cover.jpg" alt="Название книги" class="book-image" />
                <h3 class="book-title">Название книги</h3>
                <p class="book-author">Автор книги</p>
            </div>
        </div>
    </div>
</div>